{% extends "base.html" %}
{% load static %}

{% block js %}
{% endblock %}

{% block content %}
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>


    <div class="box box-info  ">
        <div class="box-header with-border">
            <h3 class="box-title">Добавление тарифа</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal  " action="/tariff_add/" onsubmit="fsubmit(this);return false;" method="post">
            {% csrf_token %}

            <div class="box-body">
                <div class="form-group" id="pattern">
                    <label for="pattern" class="col-sm-2 control-label">Шаблон</label>
                    <div class="col-sm-10">
                        <select id="pattern" onchange="GetPattrn()" class="form-control" name="pattern">
                            <option value="0"></option>
                            {% for p in patrn %}
                                <option value="{{ p.id }}">{{ p.name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}" class="col-sm-2 control-label">Название</label>

                    <div class="col-sm-10">
                        {{ form.name }}

                    </div>
                </div>
                <div class="form-group">
                    <label for="123" class="col-sm-2 control-label">Тариф</label>

                    <div class="col-sm-10">
                        {{ form.fariff_type }}

                    </div>
                </div>


                <div class="form-group" id="edenicaIzmereniya">
                    <label for="price" class="col-sm-2 control-label">Еденица измерения</label>

                    <div class="col-sm-10">
                        {{ form.price }}
                    </div>
                </div>


                <div class="form-group" id="cenaZaedinicu">
                    <label for="pricefor1" class="col-sm-2 control-label">Цена за единицу</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.pricefor1 }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.pricefor1CB }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="porogperviy">
                    <label for="porog1" class="col-sm-2 control-label">1 порог</label>

                    <div class="col-sm-10">
                        {{ form.porog1 }}
                    </div>
                </div>

                <div class="form-group" id="cenaZaedenicu2">
                    <label for="pricefor2" class="col-sm-2 control-label">Цена за единицу</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.pricefor2 }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.pricefor2CB }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>


                <div class="form-group" id="vtoroyPorog">
                    <label for="inputEmail3323" class="col-sm-2 control-label">2 порог</label>

                    <div class="col-sm-10">
                        {{ form.porog2 }}
                    </div>
                </div>

                <div class="form-group" id="cenazaedinicu1">
                    <label for="pricefor2" class="col-sm-2 control-label">Цена за единицу</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.pricefor3 }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.pricefor3CB }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>


                <div class="form-group" id="summaPrice">
                    <label for="sum" class="col-sm-2 control-label">Сумма</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.sum }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.pricefor1CB }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="t1cena">
                    <label for="T1price" class="col-sm-2 control-label">Т1, Цена за 1 единицу</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.T1price }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.T1priceCB }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="t2cena">
                    <label for="T2price" class="col-sm-2 control-label">Т2, Цена за 1 единицу</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.T2price }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.T2priceCB }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="t1por1">
                    <label for="T1porog1" class="col-sm-2 control-label">T1, 1 порог</label>

                    <div class="col-sm-10">
                        {{ form.T1Porog }}
                    </div>
                </div>

                <div class="form-group" id="t2por1">
                    <label for="T2porog1" class="col-sm-2 control-label">T2, 1 порог</label>

                    <div class="col-sm-10">
                        {{ form.T2Porog }}
                    </div>
                </div>

                <div class="form-group" id="tpor1">
                    <label for="Tporog1" class="col-sm-2 control-label">1 порог</label>

                    <div class="col-sm-10">
                        {{ form.ObshPorog }}
                    </div>
                </div>


                <div class="form-group" id="t1pricezaEd">
                    <label for="T1price" class="col-sm-2 control-label">Т1, Цена за 1 единицу</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.T1price1 }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.T1priceCB1 }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="t2pricezaEd">
                    <label for="T2price" class="col-sm-2 control-label">Т2, Цена за 1 единицу</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.T2price1 }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.T2priceCB1 }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="t1por2">
                    <label for="T1porog1" class="col-sm-2 control-label">T1, 2 порог</label>

                    <div class="col-sm-10">
                        {{ form.T1Porog1 }}
                    </div>
                </div>

                <div class="form-group" id="t2por2">
                    <label for="T2porog2" class="col-sm-2 control-label">T2, 2 порог</label>

                    <div class="col-sm-10">
                        {{ form.T2Porog1 }}
                    </div>
                </div>

                <div class="form-group" id="vtoroyPor">
                    <label for="Tporog2" class="col-sm-2 control-label">2 порог</label>

                    <div class="col-sm-10">
                        {{ form.ObshPorog1 }}
                    </div>
                </div>

                <div class="form-group" id="t1cenaZaed">
                    <label for="T1price" class="col-sm-2 control-label">Т1, Цена за 1 единицу</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.T1price2 }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.T1priceCB2 }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="t2cenaZaed">
                    <label for="T2price" class="col-sm-2 control-label">Т2, Цена за 1 единицу</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                {{ form.T2price2 }}
                            </div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <label>
                                        {{ form.T2priceCB2 }}Льгота
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="coment" class="col-sm-2 control-label">Комментарий</label>

                    <div class="col-sm-10">
                        {{ form.comment }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="coment" class="col-sm-2 control-label">Начислить всем</label>

                    <div class="checkbox">
                        <label>
                            {{ form.ForAll }}
                        </label>
                    </div>
                </div>
            </div>



            <div class="form-group" id="datStr">
                <label for="datStart" class="col-sm-2 control-label">Дата начала</label>

                <div class="col-sm-4">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        {{ form.datStart}}
                    </div>
                </div>
            </div>

            <div class="form-group" id="datEnd">
                <label for="datEnd" class="col-sm-2 control-label">Дата окончания</label>

                <div class="col-sm-4">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        {{ form.datEnd}}

                    </div>
                </div>
            </div>















            <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">

            <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
            <script src="{% static 'plugins/datepicker/locales/bootstrap-datepicker.ru.js' %}"></script>


            <script>
                $('#id_datEnd').datepicker({
                    format: "dd.mm.yyyy",
                    viewMode: "days",
                    minViewMode: "days",
                    language: 'ru',
                    autoclose: true
                });
                 $('#id_datStart').datepicker({
                    format: "dd.mm.yyyy",
                    viewMode: "days",
                    minViewMode: "days",
                    language: 'ru',
                    autoclose: true
                });


            </script>



            <!-- /.box-body -->
            <div class="box-footer">

                <button type="submit" class="btn btn-info pull-right">Отправить</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <script src="{% static 'dist/js/jquery-3.1.1.min.js' %}"></script>
    <script>
        function fsubmit(t) {
            $('#cenaZaedinicu').removeClass('has-error');
            $('#datStr').removeClass('has-error');

            datestart = new Date( $("#id_datStart").val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$2/$1/$3") );
            dateend = new Date( $("#id_datEnd").val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$2/$1/$3") );
            if (dateend<=datestart)
                $('#datStr').addClass('has-error');
            else
            t.submit();
        }



        function filter() {

            $('#SubType').hide();
            $('#edenicaIzmereniya').hide();
            $('#cenaZaedinicu').hide();
            $('#cenaZaedenicu2').hide();
            $('#porogperviy').hide();
            $('#vtoroyPorog').hide();
            $('#cenazaedinicu1').hide();
            $('#summaPrice').hide();
            $('#t1cena').hide();
            $('#t2cena').hide();
            $('#t1por1').hide();
            $('#t2por1').hide();
            $('#tpor1').hide();
            $('#t1pricezaEd').hide();
            $('#t2pricezaEd').hide();
            $('#t1por2').hide();
            $('#t2por2').hide();
            $('#vtoroyPor').hide();
            $('#t1cenaZaed').hide();
            $('#t2cenaZaed').hide();
            $('#id_price').prop('required', false);
            $('#id_pricefor1').prop('required', false);
            $('#id_porog1').prop('required', false);
            $('#id_pricefor2').prop('required', false);
            $('#id_porog2').prop('required', false);
            $('#id_pricefor3').prop('required', false);
            $('#id_sum').prop('required', false);

            $('#t1por1').hide();
            $('#t2por1').hide();
            $('#t1pricezaEd').hide();
            $('#t2pricezaEd').hide();
            $('#t1por2').hide();
            $('#t2por2').hide();
            $('#t1cenaZaed').hide();
            $('#t2cenaZaed').hide();
            $('#tpor1').hide();
            $('#vtoroyPor').hide();

            trtypeval = $("#id_fariff_type").val();

            if (trtypeval == 1) {
                $('#edenicaIzmereniya').show();
                $('#cenaZaedinicu').show();
                $('#id_price').prop('required', true);
                $('#id_pricefor1').prop('required', true);

            } else if (trtypeval == 2) {
                $('#edenicaIzmereniya').show();
                $('#cenaZaedinicu').show();
                $('#porogperviy').show();
                $('#cenaZaedenicu2').show();
                $('#id_price').prop('required', true);
                $('#id_pricefor1').prop('required', true);
                $('#id_porog1').prop('required', true);
                $('#id_pricefor2').prop('required', true);
            } else if (trtypeval == 3) {
                $('#edenicaIzmereniya').show();
                $('#cenaZaedinicu').show();
                $('#porogperviy').show();
                $('#cenaZaedenicu2').show();
                $('#cenazaedinicu1').show();
                $('#vtoroyPorog').show();
                $('#id_price').prop('required', true);
                $('#id_pricefor1').prop('required', true);
                $('#id_porog1').prop('required', true);
                $('#id_pricefor2').prop('required', true);
                $('#id_porog2').prop('required', true);
                $('#id_pricefor3').prop('required', true);

            } else if (trtypeval == 4) {
                $('#edenicaIzmereniya').show();
                $('#cenaZaedinicu').show();
                $('#id_price').prop('required', true);
                $('#id_pricefor1').prop('required', true);
            } else if (trtypeval == 5) {
                $('#edenicaIzmereniya').show();
                $('#cenaZaedinicu').show();
                $('#id_price').prop('required', true);
                $('#id_pricefor1').prop('required', true);
            } else if (trtypeval == 6) {
            } else if (trtypeval == 7) {
                $('#summaPrice').show();
                $('#id_sum').prop('required', true);
            }
            else if (trtypeval == 8) {
                $('#edenicaIzmereniya').show();
                $('#summaPrice').show();
                $('#id_sum').prop('required', true);
                $('#id_price').prop('required', true);
            }
            else if (trtypeval == 9) {
                $('#SubType').show();
                $('#edenicaIzmereniya').show();
                $('#t1cena').show();
                $('#t2cena').show();
                $('#id_price').prop('required', true);
            }
            else if (trtypeval == 10) {
                $('#SubType').show();
                $('#edenicaIzmereniya').show();
                $('#t1cena').show();
                $('#t2cena').show();
                $('#id_price').prop('required', true);

                $('#t1por1').show();
                $('#t2por1').show();
                $('#t1pricezaEd').show();
                $('#t2pricezaEd').show();
            }
            else if (trtypeval == 11) {
                $('#SubType').show();
                $('#edenicaIzmereniya').show();
                $('#t1cena').show();
                $('#t2cena').show();
                $('#id_price').prop('required', true);

                $('#t1por1').show();
                $('#t2por1').show();
                $('#t1pricezaEd').show();
                $('#t2pricezaEd').show();
                $('#t1por2').show();
                $('#t2por2').show();
                $('#t1cenaZaed').show();
                $('#t2cenaZaed').show();
            }

            else if (trtypeval == 12) {
                $('#summaPrice').show();
                $('#id_sum').prop('required', true);
            }
            else if (trtypeval == 13) {
                $('#summaPrice').show();
                $('#id_sum').prop('required', true);
            }
            else if (trtypeval == 14) {
                $('#summaPrice').show();
                $('#id_sum').prop('required', true);
            }
            else if (trtypeval == 15) {
                $('#summaPrice').show();
                $('#id_sum').prop('required', true);
            }


        }

        filter();
        function GetPattrn() {
            $.get("/pattern_ajax", {patID: $('#pattern option:selected').val()})
                .done(function (data) {
                    if (data != 'none') {
                        var obj = jQuery.parseJSON(data);
                        $('#id_price').val(obj.name);
                        $("#id_fariff_type").val(obj.id);
                        filter();
                    }
                });

        }
    </script>


{% endblock %}