{% load static %}
{% load profile %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row">

  <div class="col-xs-6">{{ you.userprofile.LastName }} {{ you.userprofile.FirstName }} {{ you.userprofile.patronymic }}</div>

  <div class="col-xs-6">{{ you.level.podezd.user.userprofile.number}}</div>

</div>
<div class="container">
  <h2>Basic Table</h2>
<h1>Hello {{ you.FirstName }} {{ you.La }} !</h1>  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
{% block js %}<script src="{% static 'dist/js/jquery-3.1.1.min.js' %}"></script>{% endblock %}
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'dist/js/bootstrap.min.js'%}" ></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/app.min.js'%}"></script>
</body>
</html>