{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Тарифы</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered nth-2-center">
                <tbody>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Название</th>
                    <th>Тип</th>
                    <th>Коментарий</th>
                    <th style="width: 40px">Видимый</th>
                </tr>
                {% for tarif in tarif_list %}
                    <tr>

                        <td>{{ tarif.id }}</td>
                        <td>{{ tarif.name }}</td>
                        <td>{{ tarif.type.type_name}}</td>
                        <td>{{ tarif.coment }}</td>
                        <td>{% if tarif.enable %}
                            <a href="#" data-skin="skin-green" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open" ></span></a>
                        {% else %}
                            <a href="#" data-skin="skin-red" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-eye-close" ></span></a>
                        {% endif %}
                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->

        <div class="box-footer clearfix">
            <a href="{% url "tariff_add" %}" class="btn btn-primary"> Добавить</a>
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>

{% endblock %}