{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="box box-primary" >

        <div class="box-body">
            <!-- Split button -->

            <div class="margin">
                <div class="row no-print">
                    <div class="col-xs-12">

                    <a class="btn btn-primary btn-lg" href="/vote_add/" role="button"><i class="fa fa-plus"></i> Добавить</a>






                    </div>
                </div>
            </div>
            <!-- flat split buttons -->

        </div>
        <!-- /.box-body -->
    </div>





    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Выгнать бомжа?</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                        class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="chart-responsive">
                        <canvas id="pieChart" style="height: 255px; width: 511px;" ></canvas>
                    </div>
                    <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->

                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>



    <script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>
    <!-- /.col (RIGHT) -->

    <script type="text/javascript">
        var ctx = document.getElementById("pieChart");

        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    "За",
                    "Против",
                    "Не голосовали"
                ],
                datasets: [
                    {
                        data: [300, 500, 50],
                        backgroundColor: [
                            "#FF6384",
                            "#00c0ef"
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#00c0ef"
                        ]
                    }]
            },
            options: {
                responsive: true
            }
        });


    </script>
{% endblock %}
